.App {
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

.container-fluid {
  cursor: url("./images/custom-cursor.svg") 50 50, auto;
  padding-top: 4.5rem;
}

.show {
  display: block !important;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.logo {
  width: 1.5rem;
}

.link-danger:link {
  text-decoration: none !important;
}

.link-danger:visited {
  text-decoration: none !important;
}

.link-danger:hover {
  text-decoration: none !important;
}

.link-danger:active {
  text-decoration: none !important;
}

.notification {
  width: 350px;
  max-width: 100%;
  font-size: 0.875rem;
  pointer-events: auto;
  background-clip: padding-box;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
  border-radius: 0.25rem;
}
