.App {
  text-align: center;
  position: relative;
}

.container-fluid {
  cursor: url("./images/custom-cursor.svg") 50 50, auto;
}

.show {
  display: block !important;
}

.overlay {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(3px);
  z-index: 5;
}

.link-danger:link {
  text-decoration: none !important;
}

.link-danger:visited {
  text-decoration: none !important;
}

.link-danger:hover {
  text-decoration: none !important;
}

.link-danger:active {
  text-decoration: none !important;
}
